In [25]:



def get_movie_with_rating(movie_id):
    """Adapted from source = https://github.com/celiao/tmdbsimple"""
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    
    # save the .info .releases dictionaries
    info = movie.info()
    
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases['countries']:
        # if c['iso_3166_1'] == 'US':
        ## save a 'certification' key in info with the certification
        info['certification'] = c['certification']
        
        
    return info

In [26]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [27]:
def read_and_fix_json(JSON_FILE):
    """Attempts to read in json file of records and fixes the final character
    to end with a ] if it errors.
    
    Args:
        JSON_FILE (str): filepath of JSON file
        
    Returns:
        DataFrame: the corrected data from the bad json file
    """
    try: 
        previous_df =  pd.read_json(JSON_FILE)
    
    ## If read_json throws an error
    except:
        
        ## manually open the json file
        with open(JSON_FILE,'r+') as f:
            ## Read in the file as a STRING
            bad_json = f.read()
            
            ## if the final character doesn't match first, select the right bracket
            first_char = bad_json[0]
            final_brackets = {'[':']', 
                           "{":"}"}
            ## Select expected final brakcet
            final_char = final_brackets[first_char]
            
            ## if the last character in file doen't match the first char, add it
            if bad_json[-1] != final_char:
                good_json = bad_json[:-1]
                good_json+=final_char
            else:
                raise Exception('ERROR is not due to mismatched final bracket.')
            
            ## Rewind to start of file and write new good_json to disk
            f.seek(0)
            f.write(good_json)
           
        ## Load the json file again now that its fixed
        previous_df =  pd.read_json(JSON_FILE)
        
    return previous_df

In [28]:
# Install tmdbsimple (only need to run once)
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in /usr/local/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (2.9.1)
Requirement already satisfied: requests in /usr/local/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from tmdbsimple) (2.31.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (2023.7.22)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (2.0.4)

In [57]:
import pandas as pd
import numpy as np

# example making new folder with os
import os, time,json
import tmdbsimple as tmdb 
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus

In [30]:
# Load the three files into respective dataframes
url_akas = "https://datasets.imdbws.com/title.akas.tsv.gz"
url_basics = "https://datasets.imdbws.com/title.basics.tsv.gz"
url_ratings = "https://datasets.imdbws.com/title.ratings.tsv.gz"

akas_df = pd.read_csv(url_akas, compression='gzip', sep='\t', low_memory=False)
basics_df = pd.read_csv(url_basics, compression='gzip', sep='\t', low_memory=False)
ratings_df = pd.read_csv(url_ratings, compression='gzip', sep='\t', low_memory=False)

# Display the first few rows of each dataframe to understand their structure
akas_df.head(), basics_df.head(), ratings_df.head()

(     titleId  ordering                      title region language  \
 0  tt0000001         1                 Карменсіта     UA       \N
 1  tt0000001         2                 Carmencita     DE       \N
 2  tt0000001         3  Carmencita - spanyol tánc     HU       \N
 3  tt0000001         4                 Καρμενσίτα     GR       \N
 4  tt0000001         5                 Карменсита     RU       \N

          types     attributes isOriginalTitle
 0  imdbDisplay             \N               0
 1           \N  literal title               0
 2  imdbDisplay             \N               0
 3  imdbDisplay             \N               0
 4  imdbDisplay             \N               0  ,
       tconst titleType            primaryTitle           originalTitle  \
 0  tt0000001     short              Carmencita              Carmencita
 1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
 2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
 3  tt0000004     short             Un bon bock             Un bon bock
 4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

   isAdult startYear endYear runtimeMinutes                    genres
 0       0      1894      \N              1         Documentary,Short
 1       0      1892      \N              5           Animation,Short
 2       0      1892      \N              4  Animation,Comedy,Romance
 3       0      1892      \N             12           Animation,Short
 4       0      1893      \N              1              Comedy,Short  ,
       tconst  averageRating  numVotes
 0  tt0000001            5.7      1993
 1  tt0000002            5.8       267
 2  tt0000003            6.5      1874
 3  tt0000004            5.5       177
 4  tt0000005            6.2      2658)

In [31]:
akas_df = akas_df[(akas_df['region'] == 'US')]

In [32]:
akas_df.replace({'\\N': np.nan}, inplace=True)

# Display the first few rows of the processed dataframe
akas_df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [33]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers1 =basics_df['tconst'].isin(akas_df['titleId'])
keepers1

0            True
1            True
2           False
3           False
4            True
            ...
10152866    False
10152867    False
10152868    False
10152869    False
10152870    False
Name: tconst, Length: 10152871, dtype: bool

In [34]:
basics_df.replace({'\\N': np.nan}, inplace=True)

# Display the first few rows of the processed dataframe
basics_df.head()
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10152871 entries, 0 to 10152870
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 697.1+ MB

In [35]:
basics_df = basics_df[keepers1]
basics_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,NaN,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,NaN,1,"Short,Sport"
...,...,...,...,...,...,...,...,...,...
10152732,tt9916560,tvMovie,March of Dimes Presents: Once Upon a Dime,March of Dimes Presents: Once Upon a Dime,0,1963,NaN,58,Family
10152761,tt9916620,movie,The Copeland Case,The Copeland Case,0,NaN,NaN,NaN,Drama
10152799,tt9916702,short,Loving London: The Playground,Loving London: The Playground,0,NaN,NaN,NaN,"Drama,Short"
10152822,tt9916756,short,Pretty Pretty Black Girl,Pretty Pretty Black Girl,0,2019,NaN,NaN,Short
10152826,tt9916764,short,38,38,0,2018,NaN,NaN,Short

In [36]:
basics_df = basics_df[basics_df['runtimeMinutes'].notna()]

basics_df = basics_df[basics_df['genres'].notna()]

basics_df = basics_df[basics_df.titleType == 'movie']

basics_df = basics_df[basics_df['startYear'].notna()]

basics_df['startYear'] = basics_df['startYear'].astype(float)

basics_df.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult            object
startYear         float64
endYear            object
runtimeMinutes     object
genres             object
dtype: object

In [37]:
basics_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894.0,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897.0,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906.0,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907.0,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908.0,NaN,120,"Adventure,Fantasy"
...,...,...,...,...,...,...,...,...,...
10152226,tt9915436,movie,Vida em Movimento,Vida em Movimento,0,2019.0,NaN,70,Documentary
10152404,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
10152544,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
10152553,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
10152637,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [38]:
# Filtering the basics dataframe using startYear column to keep movies between 2000 and 2021 inclusive
basics_df = basics_df[(basics_df['startYear'] >= 2000) & (basics_df['startYear'] <= 2021)]
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114661 entries, 34800 to 10152637
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          114661 non-null  object
 1   titleType       114661 non-null  object
 2   primaryTitle    114661 non-null  object
 3   originalTitle   114661 non-null  object
 4   isAdult         114661 non-null  object
 5   startYear       114661 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  114661 non-null  object
 8   genres          114661 non-null  object
dtypes: float64(1), object(8)
memory usage: 8.7+ MB

In [39]:
# Exclude movies that are included in the documentary category.
is_documentary = basics_df['genres'].str.contains('documentary',case=False)
basics_df = basics_df[~is_documentary]
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82071 entries, 34800 to 10152637
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          82071 non-null  object
 1   titleType       82071 non-null  object
 2   primaryTitle    82071 non-null  object
 3   originalTitle   82071 non-null  object
 4   isAdult         82071 non-null  object
 5   startYear       82071 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  82071 non-null  object
 8   genres          82071 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.3+ MB

In [40]:
ratings_df.replace({'\\N': np.nan}, inplace=True)

In [41]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers2 =ratings_df['tconst'].isin(basics_df['tconst'])
keepers2

0          False
1          False
2          False
3          False
4          False
           ...
1348130    False
1348131    False
1348132    False
1348133    False
1348134    False
Name: tconst, Length: 1348135, dtype: bool

In [42]:
ratings_df = ratings_df[keepers2]
ratings_df

            tconst  averageRating  numVotes
17905    tt0035423            6.4     87512
40664    tt0062336            6.4       180
46377    tt0068865            5.4        74
46534    tt0069049            6.7      7818
58028    tt0082328            5.9      1749
...            ...            ...       ...
1348054  tt9914942            6.6       181
1348081  tt9915872            6.4         9
1348094  tt9916170            7.0         7
1348095  tt9916190            3.7       243
1348106  tt9916362            6.4      5522

[68220 rows x 3 columns]

In [43]:
# Save Dataframe
akas_df.to_csv("Data/title_akas.csv.gz", compression='gzip', index=False)

# Open saved file
akas_df = pd.read_csv("Data/title_akas.csv.gz", low_memory=False)
akas_df.head()
akas_df.info() # resubmit added

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465247 entries, 0 to 1465246
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1465247 non-null  object
 1   ordering         1465247 non-null  int64
 2   title            1465247 non-null  object
 3   region           1465247 non-null  object
 4   language         4130 non-null     object
 5   types            983665 non-null   object
 6   attributes       47476 non-null    object
 7   isOriginalTitle  1463905 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 89.4+ MB

In [44]:
basics_df.to_csv("Data/title_basics.csv.gz", compression='gzip' , index=False)

#open saved file
basics_df = pd.read_csv("Data/title_basics.csv.gz", low_memory=False)
basics_df.head()
basics_df.info() #resubmit added

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82071 entries, 0 to 82070
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          82071 non-null  object
 1   titleType       82071 non-null  object
 2   primaryTitle    82071 non-null  object
 3   originalTitle   82071 non-null  object
 4   isAdult         82071 non-null  int64
 5   startYear       82071 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  82071 non-null  int64
 8   genres          82071 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 5.6+ MB

In [45]:
ratings_df.to_csv("Data/title_ratings.csv.gz", compression='gzip' , index=False)
#open saved file
ratings_df = pd.read_csv("Data/title_ratings.csv.gz", low_memory=False)
ratings_df.head()
ratings_df.info() #resubmit added

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68220 entries, 0 to 68219
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         68220 non-null  object
 1   averageRating  68220 non-null  float64
 2   numVotes       68220 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.6+ MB

## Using API

In [46]:
import json
with open('/Users/corycates/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [47]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [48]:
movie.info()

NameError: name 'movie' is not defined

In [ ]:
info['budget']

In [ ]:
info['revenue']

In [ ]:
info['imdb_id']

In [ ]:
# TEST FUNCTION FOR avengers
test = get_movie_with_rating("tt0848228") #put your function name here
test

In [ ]:
# TEST FUNCTION FOR NOTEBOOK
test = get_movie_with_rating("tt0332280") #put your function name here
test

In [ ]:
YEARS_TO_GET = [2000,2001]

YEARS_TO_GET

In [ ]:
# Error list to reference later after the loops
errors = [ ]

In [ ]:
from tqdm.notebook import tqdm_notebook
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    # Some code to execute for each YEAR
    print(YEAR)

In [ ]:
#Defining the JSON file to store results for year
JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'

In [ ]:
# Check if file exists
file_exists = os.path.isfile(JSON_FILE)

In [ ]:
# If it does not exist: create it
if file_exists == False:
# save an empty dict with just "imdb_id" to the new json file.
    with open(JSON_FILE,'w') as f:
        json.dump([{'imdb_id':0}],f)

In [ ]:
#Saving new year as the current df
current_df = basics_df.loc[ basics_df['startYear']==YEAR].copy()
# saving movie ids to list
movie_ids = df['tconst'].copy()

current_df.head(5)

In [ ]:
# Load existing data from json into a dataframe called "previous_df"
previous_df = pd.read_json(JSON_FILE)

In [ ]:
# filter out any ids that are already in the JSON_FILE
movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

## Start of the Inner Loop

In [ ]:
    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])

## After the Loop

In [ ]:
final_year_df = pd.read_json(JSON_FILE)
final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

In [ ]:
print(f"- Total errors: {len(errors)}")

In [ ]:
# Instead of previous_df=pd.read_json:
previous_df = read_and_fix_json(JSON_FILE)

### Observation:  All years are appended to one file (2000 and 2001).  To get both years, the for loop needs to be altered to reflect both.

In [211]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
Movies = "mysql+pymysql://root:password@localhost:3306/Movies"

In [212]:
engine = create_engine(Movies)

engine

Engine(mysql+pymysql://root:***@localhost:3306/Movies)

In [281]:
# Check if the database exists. If not, create it.
if database_exists(Movies) == False:
  create_database(Movies)
else:
  print('The database already exists')

The database already exists

In [282]:
# Read the files
tmdb_data = pd.read_csv("Data/final_tmdb_data_2001.csv.gz", compression='gzip')
title_ratings = pd.read_csv("Data/title.ratings.tsv.gz",  compression='gzip', sep=',', low_memory=False)
title_basics = pd.read_csv("Data/title.basics.csv.gz", compression='gzip')

tmdb_data.head(), title_ratings.head(), title_basics.head()

(     imdb_id  adult                     backdrop_path belongs_to_collection  \
 0          0    NaN                               NaN                   NaN
 1  tt0035423    0.0  /hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg                   NaN
 2  tt0114447    0.0                               NaN                   NaN
 3  tt0116916    0.0  /rFpHBidSlhjflmnLu7BZilyKeQR.jpg                   NaN
 4  tt0118589    0.0  /9NZAirJahVilTiDNCHLFcdkwkiy.jpg                   NaN

        budget                                             genres homepage  \
 0         NaN                                                NaN      NaN
 1  48000000.0  [{'id': 10749, 'name': 'Romance'}, {'id': 14, ...      NaN
 2         0.0  [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...      NaN
 3         0.0  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...      NaN
 4  22000000.0  [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...      NaN

          id original_language    original_title  ...     revenue  runtime  \
 0       NaN               NaN               NaN  ...         NaN      NaN
 1   11232.0                en    Kate & Leopold  ...  76019048.0    118.0
 2  151007.0                en  The Silent Force  ...         0.0     90.0
 3   73549.0                en     The Dark Mist  ...         0.0    101.0
 4   10696.0                en           Glitter  ...   5271666.0    104.0

                                     spoken_languages    status  \
 0                                                NaN       NaN
 1  [{'english_name': 'French', 'iso_639_1': 'fr',...  Released
 2  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 3  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 4  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                              tagline             title  video  \
 0                                                NaN               NaN    NaN
 1  If they lived in the same century, they'd be p...    Kate & Leopold    0.0
 2  They left him for dead... They should have fin...  The Silent Force    0.0
 3                                                NaN     The Dark Mist    0.0
 4   In music she found her dream, her love, herself.           Glitter    0.0

    vote_average vote_count certification
 0           NaN        NaN           NaN
 1         6.331     1220.0            AL
 2         5.000        3.0            18
 3         3.500        2.0            PG
 4         4.442      130.0             6

 [5 rows x 26 columns],
       tconst  averageRating  numVotes
 0  tt0000001            5.7      1990
 1  tt0000002            5.8       265
 2  tt0000003            6.5      1867
 3  tt0000004            5.5       177
 4  tt0000005            6.2      2654,
       tconst titleType                                       primaryTitle  \
 0  tt0035423     movie                                     Kate & Leopold
 1  tt0062336     movie  The Tango of the Widower and Its Distorting Mi...
 2  tt0068865     movie                                Lives of Performers
 3  tt0069049     movie                         The Other Side of the Wind
 4  tt0082328     movie                                 Embodiment of Evil

                                originalTitle  isAdult  startYear  endYear  \
 0                             Kate & Leopold        0     2001.0      NaN
 1  El tango del viudo y su espejo deformante        0     2020.0      NaN
 2                        Lives of Performers        0     2016.0      NaN
 3                 The Other Side of the Wind        0     2018.0      NaN
 4                      Encarnação do Demônio        0     2008.0      NaN

    runtimeMinutes                  genres
 0             118  Comedy,Fantasy,Romance
 1              70                   Drama
 2              90                   Drama
 3             122                   Drama
 4              94                  Horror  )

In [283]:
# Step 1: Getting a List of Unique Genres

# Convert genre strings into lists in a new 'genres_split' column for basics_df
title_basics['genres_split'] = title_basics['genres'].str.split(',')

# Explode the lists into new rows
exploded_genres_basics = title_basics.explode('genres_split')

# Identify and save the unique genres, sorted alphabetically
unique_genres_basics = sorted(exploded_genres_basics['genres_split'].unique())

In [284]:
# Save just the tconst and genres_split as new df
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0068865        Drama

In [285]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres_basics))
genre_map = dict(zip(unique_genres_basics, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [286]:
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')

In [287]:
# Create a DataFrame from the genre_map_basics dictionary
genres = pd.DataFrame({'genre_name': list(genre_map_basics.keys()), 'genre_id': list(genre_map_basics.values())})

genres.head()

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [288]:
# Drop the unnecessary columns from title_basics
title_basics = title_basics.drop(columns=['originalTitle', 'isAdult', 'titleType', 'genres'])

title_basics.head()

,tconst,primaryTitle,startYear,endYear,runtimeMinutes,genres_split
0,tt0035423,Kate & Leopold,2001.0,NaN,118,"[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,NaN,70,[Drama]
2,tt0068865,Lives of Performers,2016.0,NaN,90,[Drama]
3,tt0069049,The Other Side of the Wind,2018.0,NaN,122,[Drama]
4,tt0082328,Embodiment of Evil,2008.0,NaN,94,[Horror]

### II) Saving the MySQL tables with tconst as the primary key.

In [289]:
## Set the dataframe index and use index=True 
title_genres.set_index('genre_id').to_sql('title_genres',engine,index=True)

153853

In [290]:
genres.set_index('genre_id').to_sql('genres',engine,index=True)

25

In [291]:
# Getting BLob error...will try an alternative
#tmdb_data[['imdb_id', 'revenue', 'budget', 'certification']].set_index('imdb_id').to_sql('tmdb_data', engine, if_exists='replace', index=True)
# Define the data types

import sqlalchemy

# Define the data types
data_types = {
    'imdb_id': sqlalchemy.types.VARCHAR(length=255),
    'revenue': sqlalchemy.types.Float,
    'budget': sqlalchemy.types.Float,
    'certification': sqlalchemy.types.VARCHAR(length=255)  # Specify a length here
}

# Use the to_sql function with the dtype parameter
tmdb_data[['imdb_id', 'revenue', 'budget', 'certification']].set_index('imdb_id').to_sql(
    'tmdb_data', 
    engine, 
    if_exists='replace', 
    index=True, 
    dtype=data_types
)

1351

In [292]:
## get max string length
max_str_len = title_basics['tconst'].fillna('').map(len).max()

In [293]:

from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = title_basics['tconst'].fillna('').map(len).max()
title_len = title_basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'runtimeMinutes':Integer()}

In [294]:
# Save to sql with dtype and index=False
title_basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO title_basics (tconst, `primaryTitle`, `startYear`, `endYear`, `runtimeMinutes`, genres_split) VALUES (%(tconst)s, %(primaryTitle)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s, %(genres_split)s)]
[parameters: ({'tconst': 'tt0035423', 'primaryTitle': 'Kate & Leopold', 'startYear': 2001.0, 'endYear': None, 'runtimeMinutes': 118, 'genres_split': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 70, 'genres_split': ['Drama']}, {'tconst': 'tt0068865', 'primaryTitle': 'Lives of Performers', 'startYear': 2016.0, 'endYear': None, 'runtimeMinutes': 90, 'genres_split': ['Drama']}, {'tconst': 'tt0069049', 'primaryTitle': 'The Other Side of the Wind', 'startYear': 2018.0, 'endYear': None, 'runtimeMinutes': 122, 'genres_split': ['Drama']}, {'tconst': 'tt0082328', 'primaryTitle': 'Embodiment of Evil', 'startYear': 2008.0, 'endYear': None, 'runtimeMinutes': 94, 'genres_split': ['Horror']}, {'tconst': 'tt0088751', 'primaryTitle': 'The Naked Monster', 'startYear': 2005.0, 'endYear': None, 'runtimeMinutes': 100, 'genres_split': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0096056', 'primaryTitle': 'Crime and Punishment', 'startYear': 2002.0, 'endYear': None, 'runtimeMinutes': 126, 'genres_split': ['Drama']}, {'tconst': 'tt0100275', 'primaryTitle': 'The Wandering Soap Opera', 'startYear': 2017.0, 'endYear': None, 'runtimeMinutes': 80, 'genres_split': ['Comedy', 'Drama', 'Fantasy']}  ... displaying 10 of 82031 total bound parameter sets ...  {'tconst': 'tt9916190', 'primaryTitle': 'Safeguard', 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 95, 'genres_split': ['Action', 'Adventure', 'Thriller']}, {'tconst': 'tt9916362', 'primaryTitle': 'Coven', 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 92, 'genres_split': ['Drama', 'History']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [295]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [296]:
## get max string length
max_str_len = title_ratings['tconst'].fillna('').map(len).max()

In [297]:

from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = title_ratings['tconst'].fillna('').map(len).max()
#title_len = title_ratings['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    'numVotes':Float(),
    'averageRating':Integer()}

In [298]:
# Save to sql with dtype and index=False
title_ratings.to_sql('title_ratings',engine,dtype=df_schema,if_exists='replace',index=False)

1343715

In [299]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [300]:

genres.head(5)

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [301]:
title_basics.head(5)

,tconst,primaryTitle,startYear,endYear,runtimeMinutes,genres_split
0,tt0035423,Kate & Leopold,2001.0,NaN,118,"[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,NaN,70,[Drama]
2,tt0068865,Lives of Performers,2016.0,NaN,90,[Drama]
3,tt0069049,The Other Side of the Wind,2018.0,NaN,122,[Drama]
4,tt0082328,Embodiment of Evil,2008.0,NaN,94,[Horror]

In [302]:
title_genres.head(5)

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9
0  tt0035423        18
1  tt0062336         7
2  tt0068865         7

In [303]:
title_ratings.head(5)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1990
1  tt0000002            5.8       265
2  tt0000003            6.5      1867
3  tt0000004            5.5       177
4  tt0000005            6.2      2654

In [306]:
tmdb_data.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.331,1220.0,AL
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,18
3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,The Dark Mist,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.500,2.0,PG
4,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.442,130.0,6

In [307]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_movies
0           genres
1     title_basics
2     title_genres
3    title_ratings
4        tmdb_data